{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} 세미프로젝트 메인 {% endblock %}

{% block style %} {% endblock %}

{% block contents %}
<div id="main">
    <div class="mt-5">
        <div class="d-flex justify-content-between">
            <h2><i class="bi bi-people-fill text-danger"></i>회원가입</h2>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <span class="badge bg-success p-2">이용약관</span></li>
                     <li class="breadcrumb-item">
                        <span class="badge bg-success p-2">본인확인</span></li>
                     <li class="breadcrumb-item">
                        <span class="badge bg-light text-dark opacity-50 p-2">정보입력</span></li>
                     <li class="breadcrumb-item">
                        <span class="badge bg-light text-dark opacity-50 p-2">가입완료</span></li>
                </ol>
            </nav>
        </div>
        <hr>
        <div class="position-relative px-5">
            <h3><i class="bi bi-person-check"></i> 휴대폰 본인 확인</h3>
            <small class="text-muted">사용자가 본인의 휴대폰 명의정보를 입력하면 통신사에 등록된 명의 정보를 확인합니다</small>
            <hr>
            <div class="d-flex justify-content-center mb-lg-5">
                <div class=" border border-2 row w-75 bg-light mt-4 rounded">
                    <h4 class="mb-3" >문자인증</h4>
                    <form class="m-3">
                        <div class="mb-3 row ">
                            <label for="name" class="col-sm-4 text-end text-primary col-form-label " >이름</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control border-primary " id="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-4 text-end text-primary col-form-label " >생년월일/성별</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control border-primary " id="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-4 text-end text-primary col-form-label " >휴대폰번호</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control border-primary " id="name">
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center ">

                            <div class="w-25 col-sm-10"><img src="/img/captcha0.png" class="w-100 border border-2"></div>
                            <div class="p-3 col-sm-2">
                                <input type="text" class="form-control border-primary col-sm-2" name="name">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-lg-5">
                            <button type="button" class="btn btn-warning" id="nocheck"><i class="bi bi-x"></i>인증취소</button>
                            <button type="button" class="btn btn-danger col-sm-3 mx-2" id="checkme"><i class="bi bi-check"></i>인증확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  <!-- page header -->  <!-- page header -->
</div>  <!-- main -->
{% endblock %}

{% block script %}
<script>
    let nocheck= document.querySelector('#nocheck');
    noagree.addEventListener('click', () => {
        if (confirm('정말로 인증을 취소 하시겠습니까?')) {
            location.href = '/';
        }
    })

    let checkme = document.querySelector('#checkme');
    checkme.addEventListener('click', location.href='/join/joinme.html');
</script>
{% endblock %}
