{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}게시판본문보기{% endblock %}

{% block style %} {% endblock %}

{% block contents %}
 <div id="main">
        <div>
            <div class="d-flex justify-content-between">
                <h2><i class="bi bi-chat-text-fill"></i> 자유게시판</h2>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-5">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-chevron-left"></i> 이전게시물</button>
                <button type="button" class="btn btn-light">
                    <i class="bi bi-chevron-right"></i> 다음게시물</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-plus-circle-fill"></i> 새글쓰기</button>
            </div>
            <div class="col"></div>
        </div> <!-- // 이전/다음, 새글쓰기 버튼 -->

        <div class="row mt-3">
            <div class="col"></div>
            <div class="col-10">
                <table class="table">
                    <tbody>
                    <tr><td colspan="2" class="vhead p-5">
                        <h3>Praesent quis magna vitae nunc malesuada tempor a pretium metus.</h3>
                    </td></tr><!-- 제목 -->

                    <tr class="bdbg fw-bold">
                        <td class="col-5 text-start ps-3 text-black-50">bigdata</td>
                        <td class="text-end text-black-50 pe-3 ">2021.01.01 12:12:12 / 123 / 999</td>
                    </tr><!-- 작성자, 작성일, 조회수 -->

                    <tr>
                        <td colspan="2" class="vhead2" style="height: 550px">
                            Morbi tempor scelerisque auctor. Cras sit amet aliquet magna. Ut pellentesque ultricies sapien, id dictum justo congue fringilla. Morbi sed nulla vitae nisl consectetur ultricies. Phasellus turpis neque, facilisis at lorem et, vestibulum pharetra tellus. Cras eget luctus metus. Phasellus dictum vitae leo a dignissim. Nullam tincidunt nisi velit, non ullamcorper magna egestas ut. Aliquam nisl ante, vehicula fermentum vehicula vel, imperdiet et sapien. Integer non dui quis augue aliquam aliquam. Suspendisse posuere sem non rhoncus scelerisque. Quisque malesuada non elit ac porttitor. Nunc facilisis metus vitae sollicitudin dignissim.
                            Morbi tempor scelerisque auctor. Cras sit amet aliquet magna. Ut pellentesque ultricies sapien, id dictum justo congue fringilla. Morbi sed nulla vitae nisl consectetur ultricies. Phasellus turpis neque, facilisis at lorem et, vestibulum pharetra tellus. Cras eget luctus metus. Phasellus dictum vitae leo a dignissim. Nullam tincidunt nisi velit, non ullamcorper magna egestas ut. Aliquam nisl ante, vehicula fermentum vehicula vel, imperdiet et sapien. Integer non dui quis augue aliquam aliquam. Suspendisse posuere sem non rhoncus scelerisque. Quisque malesuada non elit ac porttitor. Nunc facilisis metus vitae sollicitudin dignissim.
                        </td>
                    </tr><!-- 본문 -->
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div><!-- 본문 -->

        <div class="row mt-1">
            <div class="col"></div>
            <div class="col-5">
                <button type="button"
                        class="btn btn-warning text-white">
                    <i class="bi bi-pencil-square"></i> 수정하기</button>
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-trash"></i> 삭제하기</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-list"></i> 목록보기</button>
            </div>
            <div class="col"></div>
        </div> <!-- 버튼들 -->

        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <h3 class="mb-3 mt-4"><i class="bi bi-chat-quote-fill"></i>
                    나도 한마디</h3>
                <table class="table rhead">
                    <tr>
                        <td class="cmtusr"><h4>spring</h4></td>
                        <td><div class="cmtbg">
                            2021.12.31 12:13:14</div>
                            <p class="cmt p-3 text-just">Aenean dignissim justo nec tristique pellentesque. Fusce bibendum molestie lectus ac vehicula. Curabitur mollis sagittis justo, eu commodo velit tempor vel. Proin eu laoreet lacus, vitae condimentum felis. Nam auctor magna vitae rhoncus consequat. Nunc feugiat diam in eros blandit, quis sollicitudin dui varius. Maecenas vestibulum sem augue, nec porttitor lorem congue ut. Quisque tincidunt orci a massa dignissim hendrerit. Mauris aliquet nisl vel gravida suscipit. Phasellus laoreet, neque ac tincidunt interdum, nisi neque facilisis risus, quis aliquam quam mi at leo.</p>
                            <ul class="rply list-group">
                                <li>
                                    <div class="rplybg">
                                        <span><b>bootstrap</b></span>
                                        <span style="float:right">2021-12-31 13:13:14</span>
                                    </div>
                                    <p class="cmt">정말인가요? 우와~ 심하다!~</p>
                                </li>
                            </ul><!-- 대댓글 -->
                        </td></tr>
                    <tr>
                        <td class="cmtusr"><h4>spring</h4></td>
                        <td><div class="cmtbg">
                            2021.12.31 12:13:14</div>
                            <p class="cmt p-3 text-just">Aenean dignissim justo nec tristique pellentesque. Fusce bibendum molestie lectus ac vehicula. Curabitur mollis sagittis justo, eu commodo velit tempor vel. Proin eu laoreet lacus, vitae condimentum felis. Nam auctor magna vitae rhoncus consequat. Nunc feugiat diam in eros blandit, quis sollicitudin dui varius. Maecenas vestibulum sem augue, nec porttitor lorem congue ut. Quisque tincidunt orci a massa dignissim hendrerit. Mauris aliquet nisl vel gravida suscipit. Phasellus laoreet, neque ac tincidunt interdum, nisi neque facilisis risus, quis aliquam quam mi at leo.</p>
                        </td></tr>
                    <tr>
                        <td class="cmtusr"><h4>spring</h4></td>
                        <td><div class="cmtbg">
                            2021.12.31 12:13:14</div>
                            <p class="cmt p-3 text-just">Aenean dignissim justo nec tristique pellentesque. Fusce bibendum molestie lectus ac vehicula. Curabitur mollis sagittis justo, eu commodo velit tempor vel. Proin eu laoreet lacus, vitae condimentum felis. Nam auctor magna vitae rhoncus consequat. Nunc feugiat diam in eros blandit, quis sollicitudin dui varius. Maecenas vestibulum sem augue, nec porttitor lorem congue ut. Quisque tincidunt orci a massa dignissim hendrerit. Mauris aliquet nisl vel gravida suscipit. Phasellus laoreet, neque ac tincidunt interdum, nisi neque facilisis risus, quis aliquam quam mi at leo.</p>
                            <ul class="rply">
                                <li>
                                    <div class="rplybg">
                                        <span><b>bootstrap</b></span>
                                        <span style="float:right">2021-12-31 13:13:14</span>
                                    </div>
                                    <p class="cmt">정말인가요? 우와~ 심하다!~</p>
                                </li>
                            </ul><!-- 대댓글 -->
                        </td></tr>
                </table>
            </div>
            <div class="col"></div>
        </div><!-- 댓글 -->

        <div class="row mt-4 mb-5">
            <div class="col"></div>
            <div class="col-9 card card-body bg-light ">
                <form name="cmtfrm" id="cmtfrm">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <label class="cmtlbl">로그인하세요</label>
                        <textarea rows="7" class="form-control"></textarea>
                        <button type="button" class="btn btn-dark cmtbtn">
                            <i class="bi bi-reply-all"></i> 댓글쓰기</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div><!-- 댓글쓰기 -->

    </div> <!-- // main -->
{% endblock %}
{% block script %}
  <script src="/js/vendor/bs5/bootstrap.bundle.min.js"></script>
{% endblock %}